@media (max-width: 1260px) {
    .navbar-nav{
        margin-top: 20px; 
        z-index: 20; 
    }
    .dropdown{display: none !important;}
    .dropdown-menu{display: block; width: 100%; background-color: whitesmoke}
    #panel-menu{
        width: 100%;
        max-height: 100%;
        margin-top: 110px;
    }
    #panel-content, .content-base{
        width: 100%;
        padding: 25px
    }

    .nom-logo{font-size: 42px;}

    #login .logo{
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 240px;
        text-align: center;
    }
    .btn{font-size: 15px; width: auto !important}

}

@media (min-width: 1260px) {
    .navbar-nav > li > a{padding-top: 2px}
    #panel-menu{
        position: fixed;
        box-shadow: 2px 2px 11px 2px #787a7f;
        height: 615px;
        width: 12%;
        }
    #confirmModal{
        margin-left: 10%;}
    .nom-logo{font-size: 50px;}
    #panel{margin-top: 110px}
    #panel-content, .content-base{ margin-right: 10%; padding: 40px}
    .content-base-fos{margin-right: 10%}

    #login{margin-right: 10% !important;}
    .sous-menu{display: none;}
    .navbar-fixed-top .navbar-collapse{
        padding-right: 50px;}
    #login .logo{
        position: absolute;
        left: 200px;
        right: 0;
        margin: 0 auto;
        top: 140px;
        text-align: center;
    }
}


@media (max-width: 535px) {
    #promotion .promo-th-id{display: none}
    #promotion table td a{font-size: 10px; margin-top: 5px}
    .btn{font-size: 10px; width: auto !important}
}
