/* Général */

body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 1.8em;
  background-color: #eff1f2;
}

.glyphicon{display: none}

.flash-info{
    padding: 15px;
    font-weight: 600;
}

.fa-times{color: red}

.tr-valeur:hover{
    background: rgba(255,255,255, 1);
    box-shadow: 0px -2px 1px 0px rgba(0,0,0, 0.4);
    font-weight: bold;
}

textarea{
    resize: none;
}

/* Navbar */

#navbar .fa-user-circle{
font-size: 40px;
color: rgb(90, 87, 87)
}

.nom-logo{
    margin-top: 16px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: #363a41;
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.1);
}

.logo-ucapeNav {
    color: #363a41;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    margin-left: 10px !important;
}

.dropdown .dropdown-toggle:hover{background-color: white}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background-color: white}
.dropdown-roles{color: red}

.navbar-fixed-top .navbar-collapse{
padding-top: 19px;
}

.fa-check{
    color: green;
    margin-left: 5px;
}

.navbar-toggle .icon-bar{
background-color: black;
}

.navbar{
box-shadow: 2px 2px 2px 3px #363a41;
height: 80px; background-color: white; 
border-bottom-left-radius: 3em; 
border-bottom-right-radius: 3em
}

.sous-menu{
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 2em;
    background: whitesmoke;
}

.sous-menu a{
text-decoration: none;
color: black;
padding-top: 5px;
}

.flash-info-div{margin: 10px auto}

.sous-menu a:hover{
text-decoration: none;
color: #505050;
background-color: #f5f5f5;
}

.sous-menu hr{
margin-top: auto;
margin-bottom: 10px;
border-top: 1px solid gray;
}

/* Panel-menu */

.panel{
background: #363a41;
color: white
}

.panel-heading:hover, .panel-heading:focus, .panel-body:hover{
background: #202226;

}

.panel a:hover{
text-decoration: none;

}
.panel .list-group-item{padding-left: 40px;background: #363a41; color: white; border: none}
.panel .list-group-item:hover, .panel .list-group-item:focus{
background: #202226;
color: white;
}

.panel a{
font: 400 12px/1.42857 Open Sans,Helvetica,Arial,sans-serif;
}
#panel-menu{
background-color: #363a41;
}

.profil-fos{
margin-top: 110px;
text-align: center
}

.panel-body{padding: 0}

#panel-content hr{margin-bottom: 30px}

#panel-content, .content-base, .content-base-fos{
width: 67%;
margin: 0 auto;
text-align: center;
height: 615px;
border-radius: 2em;
height: 100%;
}

.tab-pane-titre{
font-size: 2em;
}


/* Actualité */
.titre-actualite{
    font-size: 20px;
}
.info-actualite{
    margin-top: 15px;
    text-align: left;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.5);
}
.admin-actualite-outils{
    text-align: right;
    margin: 2px
}

/* Souhait de destination */


#choixEtablissement select{
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}

#choixEtablissement textarea{
    width: 80%;
    margin: auto;
}

#choix_eta_submit, .btn-maj, .btn-annule, #appbundle_promotion_submit, #appbundle_user_submit, #appbundle_eleve_submit{
    float: right;
    padding: 10px;
    width: 15%;
}
.choix-fait input{
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

#choix_eta_submit, .btn-annule, #appbundle_promotion_submit, #appbundle_user_submit, #appbundle_eleve_submit{
    margin-bottom: 20px;
    margin-left: 5px;
}


/* Promotion */

#promotion .promo-ajouter{float: left; margin-bottom: 20px}


.btn-retour{
    text-align: left;
    margin-bottom: 15px;
}

/* Profile */
.div-retour{text-align: left}
.div-retour .fa-arrow-circle-left, .fa-plus-circle{
    font-size: 25px;
    color: #363a41;
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
}
.div-retour .fa-arrow-circle-left:hover, .fa-plus-circle:hover{ text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);}

.edit-profil-user{
    padding: 10px;
    border: 1px solid rgba(0,0,0, 0.2);
    margin: 50px auto;
}

.edit-profil-user p{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.edit-titre{
    float: left;
    width:100%;
    display: inline-flex
}

.edit-profil-user input{
    margin-bottom: 15px;
}

#appbundle_eleve_dateNaissance{
    margin-top: 15px;
}

.edit-titre a{
    font-size: 9px;
    margin-left: 10px;
    vertical-align: super;
}

.edit-profil-user form label{
    float: left;
    font-size: 13px
}