<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        Ucape
    </title>

    <link rel="stylesheet" href="{{asset('assets/css/vendor/bootstrap.min.css')}}">

    <!-- Font google -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">

    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('logo.png') }}" />
    {% endblock %}

</head>

<body>

{% block body %}
{% endblock %}

</body>
</html>