{% extends '::layout.html.twig' %}

{% block body %}
<h1> Documentations </h1>

<a class="nav-link" href="formPays">Ajout de pays</a>
<a class="nav-link" href="formLangue">Ajout de langues</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
  
