{% extends '::layout.html.twig' %}

{% block body %}

<div class=" text-center content-base">



    <p>Note Eu2 : {{ noteEu2 }}</p>
    <p>Note Eu1 : {{ noteEu1 }}</p>
    <p>Moyenne : {{ moyenne }}</p>


</div>





{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}